.login-section {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    margin-bottom: 20px;
    color: #000;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 10px;
    color: #000;
}

.login-section input[type="text"],
.login-section input[type="password"],
.login-section button {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-section button {
    border: none;
    background-color: #007bff;
    color: #fff;
}

.login-section button:hover {
    background-color: #0056b3;
}

