/* Nav */
.logo{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}
.logo a{
    width: 100%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}

nav a.burger {
    display:none;
    position: absolute;
    right: 0;
    top: 0;
  }
nav #page-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75%;
}
.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.top-left-nav{
    flex: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.top-left-nav a{
    text-decoration: none;
}
.nav-top button{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #005CE6;
    border: none;
    transition: background-color 0.5s;
    border-radius: 12px;
    color: white;
}
.cart{
    padding-right: 5px;
}
.log-out{
    padding-left: 5px;
}
.burger-menu{
    display: none;
}
.nav-button :hover{
    border: rgba(167, 163, 163, 0.19) solid 2px ;
    background-color: #0149b5;
    box-shadow: 0 8px 16px 0 rgba(167, 163, 163, 0.19), 0 6px 20px 0 rgba(167, 163, 163, 0.19);
}
.nav-bottom{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#page-links a{
    text-decoration: none;
    color: white;
    border-right: grey 2px solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background-color 0.5s;
}

#page-links :hover{
    
    background-color: #0149b5;
    box-shadow: 0 8px 16px 0 rgba(167, 163, 163, 0.19), 0 6px 20px 0 rgba(167, 163, 163, 0.19);

}

/* Main Page */
.main-page{
    display: flex;
    flex-direction: row;
    padding-top:50px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 25%;
    border: black 1px solid;
}
.games-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 75%;
}
.games-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    padding-bottom: 20px;
}
.game{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex: 33%;
    border: black solid 2px;
    border-radius: 12px;
    margin: 0px 5px 0px 5px;
}

.bubble {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translate(-54%,50%);
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
  }
  .range-wrap {
    position: relative;
    margin: 0 auto 3rem;
    width: 80%;
  }
  .range {
    width: 100%;
  }






/* footer */

.footer {
    background-color: #333;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts {
    padding: 5%;
}
