body{
    margin: 0px;
    height: auto;
    text-align: center;
}
.logo{
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.logo a{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    height: 50%;
    border-radius: 12px;
}

nav{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #005CE6;
}

.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.top-left-nav{
    height: 100%;
    flex: 75%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.top-left-nav a{
   
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.top-left-nav div{
    flex: 33%;
    height: 100%;
    width:100%;
}
.nav-top button{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #005CE6;
    border: none;
    transition: background-color 0.5s;
    border-radius: 12px;
    color: white;
}
.cart,.log-out{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    padding-right: 5px;
}
.log-out{
    padding-left: 5px;
    padding-right: 5px;
}
.burger{
    color: white;
    padding: 6%;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}




.offscreen-menu{
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width:250px;
    position: fixed;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.offscreen-menu.active{
    right: 0;
}
.offscreen-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.offscreen-menu ul li{
    list-style: none;
    width: 100%;
    padding-bottom: 20px;
}
.offscreen-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
}
